@import '@servicenow/sass-kit/host';

h2 {
    font-size: 1.5rem;
    text-align: center;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.container div {
    width: 550px;
    min-width: 350px;
    margin: 10px;
}
.container .modal__label {
    width: 365px;
    min-width: 250px;
    margin: 5px;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}