@import '@servicenow/sass-kit/host';

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.container div {
    width: 550px;
    min-width: 350px;
    margin: 10px;
}