@import '@servicenow/sass-kit/host';

.container {
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    flex-flow: column;
    padding: 10px 20px;
    align-content: center;
    justify-content: flex-start;
    border: 1px solid gray;
    box-sizing: border-box;
}
.dropdown {
    margin: 10px 0;
}
h3 {
    text-align: center;
}
.marginRight {
    margin-right: 20px;
}
.justify-end {
    display: flex;
    justify-content: flex-end;
}